@font-face {font-family: "FrederickatheGreat"; src: url('../fonts/FrederickatheGreat-Regular.ttf');}
@font-face {font-family: "Caveat"; src: url('../fonts/Caveat-Regular.ttf');}
@font-face {font-family: "Comfortaa"; src: url('../fonts/Comfortaa-Regular.ttf');}
@font-face {font-family: "CabinSketch"; src: url('../fonts/CabinSketch-Regular.ttf');}
@font-face {font-family: "BrownhillScript"; src: url('../fonts/Brownhill-Script.ttf');}

.jumbotron {
    margin: 0;
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 0;
}

h1 {
    font-family: BrownhillScript;
    font-size: 100px;
}

cite {
    font-family: Comfortaa;
}

body {
    background-color: black;
}

.form-group,
.panel-title {
    color: whitesmoke;
}

.current-title,
.add-title {
    margin-top: 50px;
    font-family: BrownhillScript;
    font-size: 50px;
}

.tag-line {
    font-style: italic;
}

.cancel {
    color: whitesmoke;
    background: none;
    border-style: none;
    font-size: 20px;
}

.update {
    color: whitesmoke;
    background: none;
    border-style: none;
}

#submit {
    font-family: Comfortaa;
    font-size: 20px;
}